version: "3.8"

services:
  frontend:
    depends_on:
      - backend
    build: ./frontend
    expose:
      - "3000"

  backend:
    depends_on:
      - db
    build: ./backend
    expose:
      - "3001"
    environment: 
      DB_URL: mongodb://db/vidly
    command: ./docker-entrypoint.sh

  db:
    image: mongo:4.0-xenial
    volumes:
      - vidly:/data/db

volumes:
  vidly:
