version: "3.8"

services:
  backend:
    build: .
    expose:
      - "3001"
    environment:
      - DB_URL=${DB_URL}
      - CORS_ORIGIN=${CORS_ORIGIN}
    command: ./docker-entrypoint-standalone.sh
